* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: rgb(136, 136, 136);
}

a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px gray;
  margin: 0 25px 50px 25px;
}

.header h2 {
  font-size: 36px;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  margin:10px;
  padding: 15px;
  cursor: pointer;
}

.header .special {
  border-radius: 10px;
  background-color: rgba(114, 3, 3, 0.6);
}

.header .special:hover {
  background-color: rgba(114, 3, 3, 0.85);
  color: white;
}

.add-item-dialog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #a19b9b;
  padding: 10px;
  margin: 0 20% 15px 20%;
}

.current-item-highlight {
  text-decoration: underline;
  color: rgb(177, 177, 3)
}

.add-item-dialog .current-item-highlight {
  font-size: 36px;
}

.add-item-dialog h2 {
  font-size: 28px;
  text-align: center;
}

.add-item-section {
  display: flex;
}

.add-item-dialog label {
  width: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.add-item-dialog input {
  border-radius: 5px;
  border: 3px solid #a19b9b;
  padding: 5px;
  margin: 5px;
}

input {
  width: 100%;
}

.add-item-dialog .add-item-actions button {
  border: none;
  padding: 15px;
  border-radius: 3px;
  margin: 0 10px;
  cursor: pointer;
}

.add-item-dialog .add-item-actions .submit {
  background-color: rgb(2, 102, 141);
  font-weight: 600;
  color: white;
}

.btn-delete{
  background-color: rgb(168, 47, 47);
}

.add-item-actions {
  justify-content: center;
}

.inventory-list {
  margin: 0 auto;
  width: 75%;
}

.inventory-item {
  background-color: rgb(114, 3, 3);
}

.inventory-item:hover {
  background-color: rgb(3, 99, 3);
}
